{
  // not 100% sure if we want to stay with the babel parser
  // https://www.npmjs.com/package/@babel/eslint-parser - I think TS section says that it can coexist with TS linting rules?
  // but https://typescript-eslint.io/docs/linting/#details says that I need to use the TS parser
  "parser": "@babel/eslint-parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "standard",
    "standard-react",
    "plugin:prettier/recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0
  }
}
