.feathery-spinner {
  --spinner-size: 4 ;
  --line-color: #333849;
  --line-alpha: 1;
  --ring-color: #DBDFE8;
  --ring-alpha: 1;
  --ring-size: 2;

  font-size: calc(var(--spinner-size) * 1em);
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
.feathery-spinner .feathery-spinner-line {
  fill: none;
  stroke: var(--line-color);
  stroke-width: var(--ring-size);
  opacity: var(--line-alpha);
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate3d(0, 0, 1, 0deg);
  animation: 
    2156ms feathery-spinner-arc ease-in-out infinite,
    1829ms feathery-spinner-rotate linear infinite;
}
.feathery-spinner .feathery-spinner-ring {
  fill: none;
  stroke: var(--ring-color);
  stroke-width: var(--ring-size);
  opacity: var(--ring-alpha);
}
@keyframes feathery-spinner-rotate {
  to { transform: rotate3d(0, 0, 1, 360deg); }
}
@keyframes feathery-spinner-arc {
  from { stroke-dasharray: 0 150; stroke-dashoffset: 0; }
  to { stroke-dasharray: 100 150; stroke-dashoffset: -140; }
}
